:root {
    --main-color: #00b289;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

#name a {
    color: black;
    justify-content: space-between;
}

.coming {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px solid black;
    border-radius: 5px;
}

.card {
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid var(--main-color);
    width: 300px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 4px 10px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

.card:first-child :hover {
    margin-right: 20px;
    background: radial-gradient(circle at 50% 50%, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1));
}

.card:nth-child(2) {
    margin-right: 20px;
    background: radial-gradient(circle at 50% 50%, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1));
}

.start-free:active {
    display: list-item;
    background-color: var(--main-color);

}

.navbar a {
    text-decoration: none;
    padding: 30px 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    background: rgb(173, 167, 250);
}

.Workflow {
    font-size: 30px;
}

.ninten {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid #00b289;
}

.two {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 3px solid #00b289;
}

.start-free {
    background: #00b289;
    width: 300px;
    height: 50px;
}

.start {
    background: #00b289;
    color: white;
    height: 30px;
}

.Log-in {
    color: #00b289;
}

.nav {
    color: #00b289;
    font-size: 30px;
}

.peragraf {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.colector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collab {
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
    display: inline-block;
    width: 600px;
    height: 110px;
    padding: 20px;
    box-shadow: 0 4px 10px;
    font-family: Arial, sans-serif;
}

.bussnes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9ecdd;
    width: 300px;
    padding: 50px;
    margin: 0 auto;
    font-size: 10px;
    gap: 40px;
}

.cope {
    font-size: 15px;
}

.heading {
    text-align: center;
    color: #00b289;
}

.pure {
    text-align: center;
    font-size: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lol {
    display: block;
    justify-content: space-around;
}

.bottom {
    background-color: #00b289;
    color: white;
}

h1::after {
    content: "😊😊";
}



.card:last-child::before {
    content: "Most popular";
    display: block;
    background-color: #00b289;
    color: white;
    padding: 25px 45px;
    font-size: 18px;
    transform: rotate(0deg);
    position: absolute;
    right: 0;
    top: -90px;
    text-align: center;
}

.card:hover:last-child::before {
    transform: rotate(44deg);
    top: 0;
    transition: all 0.5s;


}
.card{
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes slide{
    0%{transform: translateY(0px); background-color: #00b289;}
    50%{transform: translateY(50%); background-color: blue;}
    100%{transform: translateY(0px); background-color: red;}
}